.personal-wrapper {
  width: 500px;
  height: 400px;
  margin: 100px auto;
  border-radius: 5px;
  .personal-form {
    width: 70%;
    margin: 20px auto;
    font-size: 14px;
    padding-top: 40px;
    vertical-align: top;
    .form-item {
      display: flex;
      justify-content: center;
      padding: 40px;
      vertical-align: top;
      .personal-label {
        flex: 0 0 70px;
        text-align: center;
        padding: 8px;
      }
      .personal-input {
        flex: 1;
        height: 25px;
        border: 1px solid #8B8B8B;
        border-radius: 5px;
        padding: 5px;
        &:hover,
        &:focus {
          border: 1px solid #4990E2;
        }
      }
      .create-user {
        width: 100px;
        padding: 10px 20px;
        font-size: 14px;
        border: 1px;
        outline: none;
        background: #4990E2;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}

