//@import "../../../common/style/style.css";
// @import "../../../common/style/style.css";

.login-wrapper {
  //display:none;
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #d8d8d8 50%;
    opacity: 0.5;
  }
  .login {
    //display:none;
    position: absolute;
    top: 100px;
    left: 390px;
    width: 500px;
    height: 370px;
    background: #fff;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    img {
      width: 40px;
    }
    .window-bar {
      //position: relative;
      box-sizing: border-box;
      background: linear-gradient(#80C3F3, #4990E2);
      //border: 1px inset #979797;
      height: 25px;
      width: 100%;
      img {
        height: 15px;
        width: 15px;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
    .logo-wrapper {
      display: flex;
      justify-content: center;
      //width: 270px;
      margin: 10px auto;
      //vertical-align: middle;
      .logo {
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }
      .logo-text {
        font-size: 40px;
        line-height: 40px;
        height: 40px;
        color: #FF4100;
      }

    }
    .icon-wrapper {

      width: 270px;
      display: flex;
      margin: 10px auto;
      .icon-item {
        flex: 1;
        text-align: center;
      }
    }
    .form-wrapper {
      width: 270px;
      display: flex;
      margin: 5px auto;
      .from-boxes {
        margin: 10px auto;
        .from-button {
          display: block;
          margin: 0 auto;
          width: 100px;
        }
      }
    }
    .line-through {
      display: flex;
      width: 70%;
      //text-align: center;
      margin: 10px auto;
      font-size: 12px;
      .line-through-text {
        //padding: 0 200px;
        margin: 0 20px;
      }
      .line-through-line {
        flex: 1;
        //width: 100px;
        position: relative;
        top: -5px;
        border-bottom: 2px solid #979797;
      }
    }
  }
}

